{% extends 'base.html' %}
{% load static %}

{% block title_bl %}Profil - GKJ Jakarta{% endblock %}

{% block body_bl %}
<div class="container-fluid mb-5" id="about-main">
    <div class="row">
        <div class="col-md-8 p-0">
            <div class="jumbotron jumbotron-fluid" id="jumbotron-about" style="background-image: url('{% static 'img/altar-closeup.png' %}');">
            </div>
        </div>
        <div class="col-md-4 py-2 text-centered align-self-center">
            <h3 class="display-6 letter-spaced">VISI</h3>
            <p class="lead">Menjadi Gereja yang berkualitas</p>
            <h3 class="letter-spaced">MISI</h3>
            <p>Dalam kebersamaan --berdasarkan anugerah-- mewujudkan keluarga dewasa yang terbuka, yang melakukan perubahan berlandaskan iman, keteladanan, dan kepedulian yang memberdayakan.</p>
        </div>
    </div>
</div>
<section id="sejarah" class="main-section">
    <div class="container">
        <h3 class="text-centered letter-spaced mb-3">SEJARAH</h3>
        <section>
            <h4 class="text-centered letter-spaced mb-3">Disatukan, Diberkati, dan Dibagikan</h4>
            <p>
                GKJ Jakarta (GKJJ) berawal dari gabungan orang-orang Kristen Jawa yang tinggal di Jakarta, khususnya yang beribadah di <em>Gereformeerd Kerk</em> Kwitang (GKI Kwitang) dan Gereja Pasundan Rehoboth, Meester Cornelis (GKP Rehoboth). Keakraban yang makin kental membuat kelompok tersebut merindukan adanya persekutuan orang Jawa. Sayangnya, kerinduan itu tertunda karena terdapat selisih pendapat di antara para pengurusnya.
            </p>
            <p>
                Persoalannya terletak pada keinginan sebagian anggota pengurus agar nama gereja nantinya dilengkapi kata <em>"Gereformeerde"</em>. Hal itu mendapat tentangan dari orang-orang yang berlatar belakang bukan Gereformeerde (orang-orang Jawa yang beribadah di Gereja Pasundan Rehoboth). Keadaan makin berlarut, yang berujung pada pecahnya kelompok itu menjadi dua kelompok ibadah. Kelompok Gereformeerd Kerk Kwitang pindah ke Christelijke Standaard School Kwitang dan kelompok lainnya tetap di HThS Salemba.
            </p>
            <p>
                Ketika kelompok ibadah Kwitang didewasakan oleh Gereformeerd Kerk Kwitang menjadi Gereja Kristen Jawa di Jakarta pada 21 Juni 1942 tanpa embel-embel "Gereformeerde", maka kelompok ibadah Salemba menyambutnya dengan tangan terbuka. Akhirnya, pada 30 Agustus 1942 dilaksanakan penyatuan yang menggembirakan itu dengan upacara sederhana. Jumlah anggota gereja baru itu 121 orang.
            </p>
            <p>
                Dan dari satu jemaat itu sekarang telah lahir 11 gereja; dan gereja yang telah mandiri itu pun melahirkan 7 gereja dibawah himpunan dua klasis. Dari 121 orang telah berkembang menjadi belasan ribu orang.
            </p>
        </section>
    </div>
</section>
{% endblock %}

{% block contact_footer_bl %}
{% include 'contact.html' %}
{% endblock %}