{% extends 'base.html' %}
{% load static %}

{% block title_bl %}Profil - GKJ Jakarta{% endblock %}

{% block body_bl %}
<div class="container-fluid mb-5" id="about-main">
    <div class="row">
        <div class="col-md-8 p-0">
            <div class="jumbotron jumbotron-fluid" id="jumbotron-about" style="background-image: url('{% static 'img/altar-closeup.jpg' %}');">
            </div>
        </div>
        <div class="col-md-4 py-2 text-centered align-self-center">
            <h3 class="display-6 letter-spaced uppercased">Visi</h3>
            <p class="lead">Menjadi Gereja yang berkualitas</p>
            <h3 class="letter-spaced uppercased">Misi</h3>
            <p>Dalam kebersamaan --berdasarkan anugerah-- mewujudkan keluarga dewasa yang terbuka, yang melakukan perubahan berlandaskan iman, keteladanan, dan kepedulian yang memberdayakan.</p>
        </div>
    </div>
</div>
<section id="sejarah" class="main-section">
    <div class="container">
        <h3 class="text-centered letter-spaced uppercased mb-3">Sejarah GKJ Jakarta</h3>
        <section>
            <h4 class="text-centered letter-spaced mb-3">Disatukan, Diberkati, dan Dibagikan</h4>
            <p class="bigger-font">
                Gereja Kristen Jawa (GKJ) Jakarta berawal dari gabungan orang-orang Kristen Jawa yang tinggal di Jakarta, khususnya mereka yang beribadah di <em>Gereformeerd Kerk</em> Kwitang (GKI Kwitang) dan Gereja Pasundan Rehoboth, Meester Cornelis (GKP Rehoboth). Keakraban yang makin kental membuat kelompok tersebut merindukan adanya persekutuan orang Jawa. Sayangnya, hal itu tertunda karena terdapat perbedaan pendapat di antara para pengurusnya.
            </p>
            <p class="bigger-font">
                Persoalannya terletak pada keinginan sebagian anggota pengurus agar nama gereja nantinya dilengkapi kata <em>"Gereformeerde"</em>. Hal itu mendapat tentangan dari orang-orang yang berlatar belakang bukan Gereformeerde (orang-orang Jawa yang beribadah di Gereja Pasundan Rehoboth). Keadaan makin berlarut, yang berujung pada pecahnya kelompok itu menjadi dua kelompok ibadah. Kelompok Gereformeerd Kerk Kwitang pindah ke Christelijke Standaard School Kwitang dan kelompok lainnya tetap di HThS Salemba.
            </p>
            <p class="bigger-font">
                Ketika kelompok ibadah Kwitang didewasakan oleh Gereformeerd Kerk Kwitang menjadi Gereja Kristen Jawa di Jakarta pada 21 Juni 1942 tanpa embel-embel "Gereformeerde", maka kelompok ibadah Salemba menyambutnya dengan tangan terbuka. Akhirnya, pada 30 Agustus 1942 dilaksanakan penyatuan yang menggembirakan itu dengan upacara sederhana. Jumlah anggota gereja baru itu 121 orang.
            </p>
            <p class="bigger-font">
                Dan dari satu jemaat itu sekarang telah lahir 11 gereja; dan gereja yang telah mandiri itu pun melahirkan 7 gereja dibawah himpunan dua klasis. Dari 121 orang telah berkembang menjadi belasan ribu orang.
            </p>
        </section>
        <section>
            <h4 class="text-centered letter-spaced mt-4 mb-3">Pokok-pokok Ajaran GKJ</h4>
            <p class="bigger-font">
                GKJ Jakarta, sama seperti Gereja-gereja Kristen Jawa lainnya, menggunakan Pokok-pokok Ajaran GKJ (PPA GKJ) sebagai buku sumber dan dokumen resmi ajaran GKJ.
            </p>
            <p class="bigger-font">
                PPA GKJ yang ditetapkan pada tahun 1997 itu merupakan bukti bahwa GKJ sebagai bagian dari Persekutuan Gereja-gereja di Indonesia (PGI) telah berhasil mewujudkan kemandirian teologi, yaitu sebagian dari dokumen "kemandirian daya, dana, dan teologi", yang merupakan salah satu dari Lima Dokumen Keesaan Gereja (LDKG) PGI.
            </p>
            <p class="bigger-font">
                Setelah beberapa waktu digunakan, banyak masukan dan usulan agar PPA GKJ tahun 1997 itu direvisi dengan menambah hal-hal baru yang dianggap perlu dan memperbaiki apa yang sudah ada. Pada Sidang Sinode Non Reguler GKJ tanggal 14&ndash;18 November 2005, melalui percakapan, pergumulan, serta pertimbangan mendalam dalam terang Firman Allah, ditetapkanlah PPA GKJ revisi 2005 yang digunakan sampai hari ini.
            </p>
        </section>
    </div>
</section>
<section id="bidang-1" class="main-section">
    <div class="container">
        <h3 class="text-centered letter-spaced uppercased mb-3">Bidang Pembinaan dan Pendidikan</h3>
        <p class="bigger-font">
            Bidang ini ada dalam rangka mengajar dan membina warga jemaat terkait dengan tugas dan tanggung jawab gereja.
        </p>
        <p class="bigger-font">
            <ol>
                <li>LP4WG (Lembaga Penelitian Pengembangan Pengkaderan dan Pembinaan Warga Gereja)</li>
                <li>Komisi Komunikasi
                    <ul>
                        <li>Buletin "Dilah"</li>
                        <li>Perpustakaan</li>
                        <li>Warta Gereja</li>
                    </ul>
                </li>
                <li>Komisi PA</li>
                <li>Kursus Bina Pra Nikah</li>
            </ol>
        </p>
    </div>
</section>
<section id="bidang-2" class="main-section">
    <div class="container">
        <h3 class="text-centered letter-spaced uppercased mb-3">Bidang Peribadahan / Liturgia</h3>
        <p class="bigger-font">
            Bidang ini memperkokoh relasi umat dengan Tuhan, mendasari kehidupan yang memberitakan Injil.
        </p>
        <p class="bigger-font">
            <ol>
                <li>Komisi Ibadah</li>
                <li>Komisi Kesenian Gerejawi (KKG)
                    <ul>
                        <li>Berbagai kelompok paduan suara</li>
                        <li>Gamelan</li>
                        <li>Keroncong</li>
                        <li>TMC</li>
                        <li>Kelompok Musik "Serafim"</li>
                        <li>Seni Tari dan Drama</li>
                    </ul>
                </li>
                <li>Komisi Hari-hari Besar
                    <ul>
                        <li>MRP</li>
                        <li>Hari Ulang Tahun GKJ</li>
                        <li>Hari Kemerdekaan NKRI</li>
                        <li>Bulan Keluarga</li>
                    </ul>
                </li>
                <li>Tim Multi Media</li>
            </ol>
        </p>
    </div>
</section>
<section id="bidang-3" class="main-section">
    <div class="container">
        <h3 class="text-centered letter-spaced uppercased mb-3">Bidang Kesaksian dan Pelayanan</h3>
        <p class="bigger-font">
            Bidang ini merupakan implementasi dari pembinaan dan iman di tengah-tengah kehidupan bergereja dan bermasyarakat.
        </p>
        <p class="bigger-font">
            <ol>
                <li>Diakonia</li>
                <li>Komisi Kespel dan Gugus Tugas</li>
                <li>Kelompok Kerja Bencana "Laika Care"</li>
                <li>Yayasan dan Bebadan
                    <ul>
                        <li>Rawinala</li>
                        <li>Mitayani</li>
                        <li>Sumarah</li>
                    </ul>
                </li>
                <li>Jejaring Lembaga/Instansi</li>
                <li>Gereja Mitra</li>
            </ol>
        </p>
    </div>
</section>
<section id="bidang-4" class="main-section">
    <div class="container">
        <h3 class="text-centered letter-spaced uppercased mb-3">Bidang Organisasi, Administrasi, dan Keuangan</h3>
        <p class="bigger-font">
            Bidang ini adalah sebagai manajemen yang tertib dan efisien untuk menunjang bidang pembinaan, peribadahan, dan pelayanan dalam dinamika dan operasi mereka.
        </p>
    </div>
</section>

{% endblock %}

{% block contact_footer_bl %}
{% include 'contact.html' %}
{% endblock %}