{% extends 'base.html' %}
{% load static %}

{% block title_bl %}Profil - GKJ Jakarta{% endblock %}

{% block body_bl %}
<div class="container-fluid mb-5" id="about-main">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron jumbotron-fluid" id="jumbotron-about" style="background-image: url('{% static 'img/altar-closeup.png' %}');">
            </div>
        </div>
        <div class="col-md-4 py-2 text-centered align-self-center">
            <h3 class="display-6 letter-spaced">VISI</h3>
            <p class="lead">Menjadi Gereja yang berkualitas</p>
            <h3 class="letter-spaced">MISI</h3>
            <p>Dalam kebersamaan --berdasarkan anugerah-- mewujudkan keluarga dewasa yang terbuka, yang melakukan perubahan berlandaskan iman, keteladanan, dan kepedulian yang memberdayakan.</p>
        </div>
    </div>
</div>
<section id="sejarah" class="main-section">
    <div class="container">
        <h3 class="text-centered letter-spaced mb-3">SEJARAH</h3>
        <p>Under revision</p>
    </div>
</section>
{% endblock %}