{% load static %}
<div class="mySlides">
    <img src="{% static 'homepage/img/malamnatal2018/img1.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/malamnatal2018/img2.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/malamnatal2018/img3.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/malamnatal2018/img4.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/malamnatal2018/img5.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/malamnatal2018/img6.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/natal2018/img7.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/natal2018/img8.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/natal2018/img9.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/natal2018/img10.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/natal2018/img11.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/natal2018/img12.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/tahunbaru2019/img13.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/tahunbaru2019/img14.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/tahunbaru2019/img15.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/tahunbaru2019/img16.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/tahunbaru2019/img17.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/tahunbaru2019/img18.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/rabuabu2019/img19.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/rabuabu2019/img20.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/rabuabu2019/img21.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/rabuabu2019/img22.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/rabuabu2019/img23.jpg' %}">
</div>

<div class="mySlides">
    <img src="{% static 'homepage/img/rabuabu2019/img24.jpg' %}">
</div>