{% extends 'base.html' %}
{% load static %}

{% block body_bl %}
<div class="jumbotron jumbotron-fluid" id="jumbotron-home" style="background-image: url('{% static 'img/gkj-front-far.png' %}');"></div>
<div class="container-fluid text-centered" id="div-header">
    <h1 class="display-5">Gereja Kristen Jawa Jakarta</h1>
    <p class="lead">Anggota Persekutuan Gereja-gereja di Indonesia</p>
</div>
<div class="container">
    <h3 class="text-centered letter-spaced">KOMUNITAS</h3>
    <p>Under revision</p>
</div>
<div class="container">
    <h3 class="text-centered letter-spaced">ARTIKEL TERBARU</h3>
    <ul class="articles">
        {% for art in arts %}
        <li class="article mb-3">
            <h3><a href="{{ art.get_absolute_url }}">{{ art.title }}</a></h3>
            <div>{{ art.summary }}</div>
        </li>
        {% empty %}
        <li class="article">Belum ada artikel terbaru...</li>
        {% endfor %}
    </ul>
</div>
<div class="container">
    <h3 class="text-centered letter-spaced">RENUNGAN</h3>
    <p>Under revision</p>
</div>
{% endblock %}