{% extends 'base.html' %}
{% load static %}

{% block body_bl %}
<div class="jumbotron jumbotron-fluid" id="jumbotron-home" style="background-image: url('{% static 'img/gkj-front.png' %}');">
    <div class="container">
        <h1 class="display-4">Gereja Kristen Jawa Jakarta</h1>
        <p class="lead">Anggota Persekutuan Gereja-gereja di Indonesia</p>
    </div>
</div>
<div class="container">
    <h3 class="text-centered letter-spaced">KOMUNITAS</h3>
    <p>Under revision</p>
</div>
<div class="container">
    <h3 class="text-centered letter-spaced">ARTIKEL TERBARU</h3>
    <p>Under revision</p>
</div>
<div class="container">
    <h3 class="text-centered letter-spaced">RENUNGAN</h3>
    <p>Under revision</p>
</div>
{% endblock %}