.letter-spaced {
    letter-spacing: .25rem;
}

.text-centered {
    text-align: center;
}

.uppercased {
    text-transform: uppercase;
}

.black-bg {
    background-color: black;
}

.bigger-font {
    font-size: 1.08rem;
}