body {
    font-family: 'Roboto', sans-serif;
}

nav.navbar a.nav-link {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .9rem;
}

/* Login Form */
form#form-login {
    margin: 15vh auto;
    width: 480px;
    max-width: 80vw;
}

form#form-login p.error {
    color: red;
    font-size: .9rem;
    list-style-type: none;
}

div.jumbotron#jumbotron-home {
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    max-height: 90vh;
    margin-bottom: .7rem;
}

div.jumbotron#jumbotron-about {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 480px;
    max-height: 90vh;
}

div#about-main {
    background-color: #343a40;
    color: #9e9e9e;
}

div#div-header {
    margin-bottom: 3rem;
}

form#form-create-article {
    margin: 1.5rem auto;
}

form#form-create-article label {
    display: block;
    margin: 1.7rem auto 0;
}

form#form-create-article textarea {
    width: 100%;
    height: 224px;
}

form#form-create-article img {
    max-width: 70vw;
}

form#form-create-article .helptext {
    color: #1b1b1b;
    font-size: .9rem;
}

/* Article list */
ul.articles {
    padding: 0;
}

ul.articles li.article {
    list-style-type: none;
}

section#footer {
    background-color: black;
    color: #9e9e9e;
}

section#footer a {
    color: #9e9e9e;
}

section#footer iframe {
    border: 0;
    width: 100%;
    height: 480px;
    max-height: 90vh;
    padding: 1rem;
}

section#footer table {
    color: #9e9e9e;
    margin-bottom: 1.5rem;
}

section#footer div#footer-copyright {
    background-color: #1b1b1b;
    font-size: .8rem;
    padding: 3vh;
    text-align: center;
}

section#footer div#footer-copyright img {
    margin: .8rem;
    width: 96px;
    height: auto;
}