body {
    font-family: 'Roboto', sans-serif;
}

nav.navbar a.nav-link {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .9rem;
}

/* Login Form */
form#form-login {
    margin: 15vh auto;
    width: 480px;
    max-width: 80vw;
}

form#form-login p.error {
    color: red;
    font-size: .9rem;
    list-style-type: none;
}

/* Page header and jumbotrons */
div.jumbotron#jumbotron-home {
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 512px;
    max-height: 90vh;
    margin-bottom: .7rem;
}

div.jumbotron#jumbotron-about {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 480px;
    max-height: 90vh;
}

div#home-main, div#about-main {
    background-color: #343a40;
    color: #9e9e9e;
}

h1#main-h1 {
    font-family: 'Dosis', sans-serif;
}

section.main-section {
    margin-bottom: 3rem;
}

section.main-section iframe#embed-khotbah {
    width: 600px;
    max-width: 90vw;;
    height: 315px;
}

section.secondary-section {
    margin: 0 auto;
    padding: 1.5rem 10vw;
}

section#bread {
    background-color: #2997ab;
    color: #eeeeee;
}

section#bread blockquote p {
    font-family: 'Charm', cursive;
    font-size: 1.5rem;
}

section#bread footer {
    display: block;
    font-size: 80%;
}

form#form-create-article {
    margin: 1.5rem auto;
}

form#form-create-article label {
    display: block;
    margin: 1.7rem auto 0;
}

form#form-create-article textarea {
    width: 100%;
    height: 224px;
}

form#form-create-article img {
    max-width: 70vw;
}

form#form-create-article .helptext {
    color: #1b1b1b;
    font-size: .9rem;
}

/* Article list */
ul.articles {
    padding: 0;
}

ul.articles li.article {
    list-style-type: none;
}

footer#base-footer {
    background-color: black;
    color: #9e9e9e;
}

footer#base-footer a {
    color: #9e9e9e;
}

footer#base-footer iframe {
    border: 0;
    width: 100%;
    height: 480px;
    max-height: 90vh;
    padding: 1rem;
}

footer#base-footer table {
    color: #9e9e9e;
    margin-bottom: 1.5rem;
}

footer#base-footer div#footer-copyright {
    background-color: #1b1b1b;
    font-size: .8rem;
    padding: 3vh;
    text-align: center;
}

footer#base-footer div#footer-copyright img {
    margin: .8rem;
    width: 96px;
    height: auto;
}