<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title_bl %}GKJ Jakarta{% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="GKJ Jakarta">
    <meta name="application-name" content="GKJ Jakarta">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#343a40">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/elem.css' %}" />
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Additional headers -->
    {% block header_bl %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="{% static 'favicon/favicon-32x32.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.session.current_page == 'home' %}active{% endif %}">
                    <a class="nav-link" href="/">Beranda</span></a>
                </li>
                <li class="nav-item {% if request.session.current_page == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
                </li>
                <li class="nav-item {% if request.session.current_page == 'gallery' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'homepage:gallery' %}">Galeri</a>
                </li>
                <li class="nav-item {% if request.session.current_page == 'about' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'homepage:about' %}">Profil</a>
                </li>
                <li class="nav-item {% if request.session.current_page == 'contact-us' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'homepage:contact_us' %}">Hubungi kami</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'homepage:create_ann' %}">Tulis pengumuman</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'warta:create' %}">Unggah Warta Gereja</a>
                        <a class="dropdown-item" href="{% url 'warta:list' %}">Lihat semua warta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'blog:create' %}">Tulis artikel blog</a>
                        <a class="dropdown-item" href="{% url 'blog:list' %}">Lihat semua artikel</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Unggah khotbah</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <ul class="nav justify-content-end">
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'homepage:login' %}">Login</a>
                </li>
                {% else %}
                <li>
                    <a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'homepage:logout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body_bl %}{% endblock %}
    <footer id="base-footer">
        {% block contact_footer_bl %}{% endblock %}
        <div id="footer-copyright">
            <img src="{% static 'img/logo-gkj.png' %}">
            <p>&copy; 2018 Gereja Kristen Jawa Jakarta</p>
            <p>Built using <a href="https://www.djangoproject.com/" target="_blank">Django</a>. Uses <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></p>
            <p><a href="https://github.com/GottfriedCP/gkj-jakarta" target="_blank">source code</a> by GP</p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Disqus -->
    <script id="dsq-count-scr" src="//gkj-jakarta.disqus.com/count.js" async></script>
    {% block add_body_bl %}{% endblock %}
</body>
</html>