<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4741420095243!2d106.88767906063536!3d-6.201008780399853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f49409723ddb%3A0x992ea35ab145ddc5!2sGereja+Kristen+Jawa+Jakarta!5e0!3m2!1sen!2sid!4v1544694416650"
                frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6 py-3">
            <h5 class="text-centered letter-spaced">JADWAL IBADAH</h5>
            <table class="table table-bordered table-dark table-sm">
                <tbody>
                    <tr>
                        <td>Kebaktian anak / pra remaja</td>
                        <td>Pukul 06:30 WIB (Indonesia)</td>
                    </tr>
                    <tr>
                        <td>Kebaktian remaja</td>
                        <td>Pukul 06:45 WIB (Indonesia)</td>
                    </tr>
                    <tr>
                        <td rowspan="4">Kebaktian umum</td>
                        <td>Pukul 06:30 WIB (Indonesia)</td>
                    </tr>
                    <tr>
                        <td>Pukul 09:00 WIB (Jawa)</td>
                    </tr>
                    <tr>
                        <td>Pukul 09:00 WIB (Indonesia)</td>
                    </tr>
                    <tr>
                        <td>Pukul 17:00 WIB (Indonesia)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">Pertemuan lansia</td>
                        <td>Pukul 11:00 WIB (Indonesia)<br>(setiap minggu ketiga)</td>
                    </tr>
                </tbody>
            </table>
            <h5 class="text-centered letter-spaced">KONTAK</h5>
            <dl>
                <dt>Alamat</dt>
                <dd>Jalan Balai Pustaka Timur nomor 1, Rawamangun,<br> DKI Jakarta 13220, Indonesia</dd>
                <dt>Telepon</dt>
                <dd>(021) 4893435</dd>
                <dt>Fax</dt>
                <dd>4752162</dd>
                <dt>Email</dt>
                <dd><a href="mailto:gkjjkt@bitnet.net.id">gkjjkt@bitnet.net.id</a></dd>
            </dl>
        </div>
    </div>
</div>